<div class="card">
    <div class="card-body">
        <h1>acerca de nosotros </h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt earum dicta facilis iste porro placeat molestiae tempore, odit assumenda facere sunt in laboriosam magni! Eum quaerat hic ut rem perspiciatis.</p>
    </div>

</div>