<div class="card">
    <div class="card-body">
        <h1 class="display-4">sindicato de los trabajadores delauaem</h1><br>
    <p class="lead">unete a la lucha por los derechos de los trabajadores de la univerdsidad autonoma delestado de mexico </p>
    </div>
    
    
</div>